{% block title %}Green Analytics | Home{% endblock %}
{% block content %}
	<div class="starter-template">
		<h1>{{ title }}</h1>
		<h1>Green Analytics</h1>
		<p>.</p>
		<p><a class="btn btn-primary btn-large" href="/port">Let's get started!&raquo;</a></p>
	</div>
{% endblock %}